<?xml version="1.0"?>
<launch>
    <!--Params -->
    <arg name="simulation" default="True"/>
    <rosparam>
        sim: 0
    </rosparam>

    <!--Checking for simulation
	if tf tree is broken then check for odom -> dummy transformation
    -->
    <group if="$(eval arg('simulation') == True)">
        <!--Load robot model and corresponding controllers-->
        <include file="$(find tracked_irl)/launch/simulation_files.launch"/>
    </group>
    <group if="$(eval arg('simulation') == False)">
        <!--Load robot model and corresponding controllers-->
        <include file="$(find tracked_irl)/launch/real_robot_files.launch"/>
    </group>

    <!--Common nodes-->
    <!--Joystick driver // used for real and simulated robot control-->
    <node pkg="joy" type="joy_node" name="joy_control" output="screen" />

    <!-- SLAM -->
    <!-- Gmapping -->
    <node pkg="gmapping" type="slam_gmapping" name="gmapping_thing" output="screen" >
      <param name="odom_frame" value="/odom" />
      <param name="base_frame" value="/base_link" />
    </node> 

    <!-- Point cloud to laser scan -->
    <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan" output="screen" >
      <remap from="/image" to="/camera/depth/image_raw" />
    </node>

    <!-- PERCEPTION -->
    <!-- Perception controll // what is that -->
    <!-- Cameras 
    <include file="$(find tracked_irl)/launch/usb_cam_node.launch"/> -->
    <!-- AR tracking Alvar 
	// transformation from the appropriate point in the space should be considered 
	// condition between position of camera in RL and simulation 
	// it should be calculated automatically from the start robot position.

    <include file="$(find tracked_irl)/launch/ar_track_usbcam.launch"/>
	-->
    <!--<node pkg="tracked_robot_test" name="perception" type="perception_control.py" output="screen"/> 
     Stairs position 
    <node pkg="tracked_robot_test" name="stairs_position" type="stairs_position.py" output="screen"/> -->

    <!--Camera-->



    <!-- Debug tools -->
    <node name="rviz" pkg="rviz" type="rviz"
        output="screen">
    </node>


</launch>

